
*{
    font-family: 'Poppins', sans-serif;
}
body header {
    background-image: url("/images/header.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#burger{
    justify-content: start;
}
.link {
    text-decoration: none;
}
.btn-primary {
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #e74d8c;
    border: 3px grey;
}
h2 {
    border-bottom: 15px;
    text-align: center;
}
h4 {
    color: #8b73ff;
    text-align: left;
    font-size: 87%;
    text-indent: 15px;
}
p {
    text-align: left;
    line-height: 98%;
}
.margen{
    text-indent: 15px;
}
.col-md-6{
    padding-top: 40px;
}