/*paleta de colores*/
$rosa: #e74d8c;
$azulmetal: #8b73ff;
$crema: #f7d8e5;
$celestemetal: #dad7e9;

/*variables*/
$gap-size: 20px;

body{
    header {
        background-image: url("/images/header.png");
        background-repeat: no-repeat;
        background-size: cover;
        #burger{
            justify-content: start;
        }
    }  
    section{
        .btn-primary {
            margin: 20px;
            color: $rosa;
            background-color:$crema;
            border: 3px $azulmetal;
        }
        
        .grid-container{
            display: grid;
            display: flexbox;
            background-color: $crema;
            text-align: center;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto;
            .ser_tit{
                grid-column: 1 / 3;
                text-align: center;
                align-content: center;
                align-items: center;
                background-color: white;
            }
            div{
                background-color: white;
                text-align: center;
                border: 2px;
                padding: 10px;
                margin: 7px;
            }
        }        
    }
    footer{
        .container{
            .col-md-6{
                .link{text-decoration: none;}
            }
        }
    }
}